<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255370888750-a80ci8e175m5moh39h8h7iclso4o4uc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255370888750-a80ci8e175m5moh39h8h7iclso4o4uc0</string>
	<key>API_KEY</key>
	<string>AIzaSyAJKVQ8y8tNvsoTxasU7kg-Fs-YdaAA8kg</string>
	<key>GCM_SENDER_ID</key>
	<string>255370888750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ShivamMenda.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-22532</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-22532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255370888750:ios:879ffc6e5676417d8f81bf</string>
</dict>
</plist>